.modal-container .modal-btn{
    display: block;
    color: white;
    background: #e74c3c;
    width: 150px;
    line-height: 50px;
    font-size: 22px;
    height: 50px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 5px 5px -5px #333;
    transition: background 0.3s ease-in;
}

.modal-container .modal-btn:hover{
    background: #c0392b;
}

#my-modal{
    display: none;
}

.modal-container .modal-box,
.modal-container .modal-backdrop{
    height: 0;
    width: 0;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: opacity 0.2s ease-in;
}

.modal-container #my-modal:checked ~ .modal-backdrop{
    background-color: rgba(0,0,0,0.6);
    width: 100vw;
    height: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    visibility: visible;
    opacity: 1;
}

.modal-container #my-modal:checked ~ .modal-box{
    background: #fff;
    width: 400px;
    height: 300px;
    padding: 10px 30px;
    border-radius: 4px;
    position: fixed;
    top: 12%;
    left: calc(50% - 200px);
    z-index: 1000;
    cursor: auto;
    visibility: visible;
    opacity: 1;
    box-shadow: 0 3px 7px rgba(0,0,0,0.6);
}


/* # Modal using label + hidden checkbox with a close button at corner */







/* # Modal that closes when clicked outside */






/* # Modal with custom width */





/* # Modal using anchor link */
